@font-face {
  font-family: "RIDIBatang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SUIT-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--primary-color);
  color: #ececec;
}

body {
  font-family: "RIDIBatang", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-y: overlay;
}

/* 스크롤바 */
body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 30px;
  background-color: var(--primary-color);
  border: 4px solid transparent;
}
body::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

/* 나비 */
header {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 10;
  transform: translateY(-50%);
}
header nav a {
  position: relative;
  display: block;
  margin: 40px 40px 40px 0px;
  width: 30px;
  height: 30px;
  border: 2.7px solid var(--primary-color);
  border-radius: 50%;
}
header nav a span.circle {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: var(--primary-color);
  border-radius: 50%;
  opacity: 0;
  transition: 0.3s;
}

header nav a.active span.circle {
  opacity: 1;
}
header nav a:hover span.circle {
  opacity: 1;
}

header nav a span.nav-text {
  margin-right: 35px;
  position: absolute;
  top: 50%;
  right: -300%;
  z-index: -1;
  transform: translate(0, -50%) scaleX(0%);
  transform-origin: right;
  white-space: nowrap;
  max-width: auto;
  color: var(--primary-color);
  background-color: #ececec;
  border-radius: 50px 0 0 50px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  padding: 0.7rem 5rem 0.7rem 0.8rem;
  opacity: 0;
  transition: opacity 0.7s, transform 0.3s;
}

header nav a.active span.nav-text {
  opacity: 1;
  transform: translate(0, -50%) scaleX(100%);
}
header nav a:hover span.nav-text {
  opacity: 1;
  transform: translate(0, -50%) scaleX(100%);
}
header .nav-toggle {
  display: none;
}

.inner {
  max-width: 900px;
  padding: 40px 40px;
  margin: 30px auto;
  backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 30px;
  box-shadow: 9px 9px 18px rgba(0, 0, 0, 0.2);
  background-color: #ffffff0f;
}

.inner::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    135deg,
    var(--grdient2-color),
    var(--gradient3-color)
  );
  border-radius: 30px;
  opacity: 0.2;
  z-index: -1;
}

section.chapter > * {
  padding: 0.7rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
section.chapter:last-of-type > *:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

.intro {
  text-align: center;
  color: var(--primary-color);
  padding-bottom: 1rem;
}

.session_card {
  max-height: 600px;
  margin-bottom: 0.3rem;
}

/* 채팅 */
.chat {
  display: flex;
}

.portrait {
  width: 45px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 15%;
  background-color: #00000060;
  border: 1px solid #ffffff46;
  box-shadow: 1px 3px 4px #00000048;
  box-sizing: border-box;
  margin-right: 15px;
  overflow: hidden;
}
.portrait > div {
  width: 100%;
  height: 100%;
  background: url(../img/sprite.png) calc(-45px * 3) -45px no-repeat;
}

/* 캐릭터 포트레잇 */
.GM .portrait > div {
  background: url(../img/sprite.png) 0px 0px;
}
.do-hyeon .portrait > div {
  background: url(../img/sprite.png) -46px 0px no-repeat;
}
.luna .portrait > div {
  background: url(../img/sprite.png) calc(-45px * 2) 1px no-repeat;
}
.nene .portrait > div {
  background: url(../img/sprite.png) calc(-45px * 3) 0px no-repeat;
}
.polus-thirty .portrait > div {
  background: url(../img/sprite.png) calc(-45px * 4) 0px no-repeat;
}
.paddy .portrait > div {
  background: url(../img/sprite.png) calc(-45px * 5) 0px no-repeat;
}
.bea .portrait > div {
  background: url(../img/sprite.png) calc(-45px * 6) 0px no-repeat;
}
.denny .portrait > div {
  background: url(../img/sprite.png) calc(-45px * 7) 0px no-repeat;
}
.polus-morning .portrait > div {
  background: url(../img/sprite.png) calc(-45px * 8) 0px no-repeat;
}
.hannah .portrait > div {
  background: url(../img/sprite.png) calc(-45px * 9) 0px no-repeat;
}
.hannah-past .portrait > div {
  background: url(../img/sprite.png) calc(-45px * 0) -45px no-repeat;
}
.pierce .portrait > div {
  background: url(../img/sprite.png) calc(-45px * 1) -45px no-repeat;
}
.beverly .portrait > div {
  background: url(../img/sprite.png) calc(-45px * 2) -45px no-repeat;
}
.paddy-forty .portrait > div {
  background: url(../img/sprite.png) calc(-45px * 4) -45px no-repeat;
}
.bea-forty .portrait > div {
  background: url(../img/sprite.png) calc(-45px * 5) -45px no-repeat;
}
.jess .portrait > div {
  background: url(../img/sprite.png) calc(-45px * 6) -45px no-repeat;
}
.kwas .portrait > div {
  background: url(../img/sprite.png) calc(-45px * 7) -45px no-repeat;
}
.nura .portrait > div {
  background: url(../img/sprite.png) calc(-45px * 8) -45px no-repeat;
}
.issy-morning .portrait > div {
  background: url(../img/sprite.png) calc(-45px * 9) -45px no-repeat;
}
.issy .portrait > div {
  background: url(../img/sprite.png) calc(-45px * 0) calc(-45px * 2) no-repeat;
}
.mary .portrait > div {
  background: url(../img/sprite.png) calc(-45px * 1) calc(-45px * 2) no-repeat;
}
.amber .portrait > div {
  background: url(../img/sprite.png) calc(-45px * 2) calc(-45px * 2) no-repeat;
}
.amber-twenty .portrait > div {
  background: url(../img/sprite.png) calc(-45px * 3) calc(-45px * 2) no-repeat;
}
.denny-record .portrait > div {
  background: url(../img/sprite.png) calc(-45px * 4) calc(-45px * 2) no-repeat;
}
.polus-record .portrait > div {
  background: url(../img/sprite.png) calc(-45px * 5) calc(-45px * 2) no-repeat;
}
.kwas-record .portrait > div {
  background: url(../img/sprite.png) calc(-45px * 6) calc(-45px * 2) no-repeat;
}
.henrique-record .portrait > div {
  background: url(../img/sprite.png) calc(-45px * 7) calc(-45px * 2) no-repeat;
}

.content {
  display: flex;
  flex-direction: column;
}
.name {
  font-weight: bold;
  white-space: nowrap;
  color: var(--secondary-color);
  align-self: flex-start;
}
.black-label .name {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.15rem 0.2rem 0.15rem;
  border-radius: 3px;
}

/* 캐릭터 퍼스널 컬러 */
.do-hyeon .name {
  color: #6c2735;
}
.luna .name {
  color: #d2691e;
}
.polus-thirty .name,
.polus-morning .name {
  color: #22284f;
}
.nene .name {
  color: #b2aa7a;
}
.paddy .name,
.paddy-forty .name {
  color: #54513e;
}
.bea .name,
.bea-forty .name {
  color: #ff5722;
}
.denny .name {
  color: #74a692;
}
.hannah .name {
  color: #fbedb2;
}
.hannah-past .name {
  color: #fbedb2;
}
.pierce .name {
  color: #daddad;
}
.beverly .name {
  color: #fbedb2;
}
.jess .name {
  color: #ffd34f;
}
.kwas .name {
  color: #746ca0;
}
.nura .name {
  color: #dc663b;
}
.issy-morning .name,
.issy .name {
  color: #4c4964;
}
.mary .name {
  color: #556e83;
}
.amber .name,
.amber-twenty .name {
  color: #6ca178;
}
.line {
  text-align: justify;
  line-height: 1.5;
}
.line em {
  font-weight: bold;
  color: var(--primary-color);
}

/* 챕터명 */
div.chapter {
  position: relative;
  padding: 1.2rem 0px 1.7rem 1.2rem;
  color: var(--primary-color);
}
div.chapter::before {
  content: "";
  display: block;
  background-color: var(--primary-color);
  width: 5px;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

div.chapter h2 {
  font-size: 1.5rem;
  position: relative;
  font-weight: bold;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0.4rem;
}

div.chapter ul li:first-child {
  font-weight: bold;
  border-bottom: 1px solid var(--primary-color);
  /* margin-bottom: 2px; */
}

/* 강조 지문 */
.chat.emphasis {
  flex-direction: column;
  align-content: center;
}
.chat.emphasis.insanity {
  background-color: #00000044;
  padding: 2%;
}
.chat.emphasis p.line {
  text-align: center;
  color: #fff;
  text-shadow: 0 0 1px #fff, 0 0 3px var(--primary-color),
    0 0 5px var(--primary-color), 0 0 10px var(--secondary-color),
    0 0 15px var(--secondary-color);
}
.chat.emphasis.insanity p.line {
  color: #000;
  text-shadow: 0 0 1px #000, 0 0 3px red, 0 0 5px red, 0 0 10px #750800,
    0 0 15px #750800, 0 0 30px #750800;
}

/* 시스템 */
.system {
  flex-direction: column;
  gap: 0.5rem;
}
.system .system-container {
  font-family: "NEXON Lv1 Gothic OTF";
  font-size: 0.95rem;
  display: flex;
  width: fit-content;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 0.4rem 1.5rem;
  border-radius: 7px;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.1);
}
.system li.system-name {
  margin-bottom: 0.4rem;
  font-weight: bold;
}
.system li.system-name:not(:first-of-type):before {
  content: "";
  display: block;
  width: 2rem;
  height: 1px;
  margin: 0 auto 0.6rem;
  transform: translateY(100%);
  background-color: #0000004d;
}
.system li.system-status {
  font-size: 0.65rem;
}
.system li.system-value {
  margin-top: -0.1rem;
  color: #0000007c;
  margin-bottom: 0.4rem;
}
.system li.system-value span {
  font-weight: bold;
  color: var(--primary-color);
}
.system li.system-value:last-of-type {
  margin-bottom: 0;
}
/* 라운드 처리 */
.round {
  display: grid;
  grid-template-columns: 25% auto 25%;
  justify-content: space-around;
  place-items: start center;
}
.round::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    var(--primary-color) 100%
  );
  margin: auto 0;
  grid-row: 1/3;
  grid-column: 1;
}
.round::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    90deg,
    var(--primary-color) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  margin: auto 0;
  grid-row: 1/3;
  grid-column: 3;
}
.round-number,
.round-process {
  color: var(--primary-color);
  grid-column: 2;
}
.round-number {
  font-size: 0.8rem;
  margin-bottom: -0.15rem;
}
.round-process {
  font-weight: bold;
}

/* 세션 날짜 */
.date {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #ececec;
  text-transform: uppercase;
}
.date p:first-child {
  align-self: center;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1px 10px;
  border-radius: 100px;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}
.date p:last-child {
  color: #111111;
  font-size: 0.85rem;
  font-family: "NEXON Lv1 Gothic OTF", Arial, Helvetica, sans-serif;
}
.date p span {
  color: var(--primary-color);
  font-weight: bold;
  margin-left: 0.3rem;
}
.date p span i {
  margin-right: 0.2rem;
}

/* 시나리오 내 시간 */
.time {
  font-family: "SUIT-Regular";
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.time span {
  background-color: #ececec;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 0.4rem 0.9rem;
}
/* 음악 */
.music-container {
  text-align: center;
}

.music-container .music {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  min-width: 30%;
  max-width: 100%;
  padding: 10px 14px 10px 10px;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  text-align: justify;
  font-family: "NEXON Lv1 Gothic OTF";
  font-size: 0.8rem;
  color: var(--primary-color);
  transition: color 0.4s, background 0.6s;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
}

.music-container .music:hover {
  color: #ececec;
  background-color: rgba(0, 0, 0, 0);
}

.music-container .music::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 15px;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.4s;
}
.music-container .music:hover::after {
  transform: scaleX(1);
}

.music-container .music i {
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.45);
  padding: 0.5em;
  margin-right: 10px;
  border-radius: 15px;
}

.music-container .music .music-explain {
  margin: auto 0;
  overflow: hidden;
}
.music-container .music .music-explain p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.music-container .music .music-explain .music-name {
  font-size: 1.05rem;
  font-weight: 700;
  margin-bottom: 0.2em;
}

/* 핸드아웃 */
.handout {
  text-align: center;
  overflow-x: hidden;
}

.handout .handout-preview {
  max-height: 45vh;
}

.handout .handout-button {
  display: block;
  margin: 1rem auto 0;
  padding: 0.8rem 1.3rem;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 2rem;
  background: var(--gradient);
  backdrop-filter: 20px;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1),
    5px 5px 7px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #ececec;
  font-family: "NEXON Lv1 Gothic OTF";
}

.handout .handout-button span {
  display: block;
  font-size: 0.9rem;
  transform: scale(1);
  transform-origin: center;
  transition: transform 0.5s;
}
.handout .handout-button:hover span {
  transform: scale(1.1);
}
.handout.text .handout-container {
  width: fit-content;
  max-width: 70%;
  margin: 0 auto;
  background: #ececec;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.1);
  padding: 0.8rem 1.5rem;
  border-radius: 7.5px;
}
.handout.text .handout-container .handout-name {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.05rem;
  margin-bottom: 0.5rem;
}
/* 엔딩 */
.ending {
  text-align: center;
  color: var(--primary-color);
  padding: 15px 0;
  font-size: 0.95rem;
}
.ending .ending-name {
  margin-bottom: 0.5em;
}
.ending .ending-name p:first-child {
  font-size: 0.6rem;
  margin-bottom: -0.2rem;
}
.ending .ending-name p:last-child {
  font-size: 1.2rem;
  font-weight: bold;
}
.ending .reward {
  margin-bottom: 0.8rem;
}
.ending .reward:last-of-type {
  margin-bottom: 0;
}
.ending .reward p.reward-name {
  font-size: 1.01rem;
  font-weight: bold;
}
.ending .reward p.reward-description {
  max-width: 70%;
  margin: 0 auto;
}

/* 크레딧 */
div.credit {
  color: var(--primary-color);
  text-align: center;
  padding: 2rem 0;
}

.credit h4 {
  margin-bottom: 0.8rem;
}
.credit h4 .rule_name {
  font-size: 0.8rem;
  letter-spacing: 0.15rem;
  margin-bottom: -0.3rem;
}
.credit h4 .scenario_name {
  font-size: 1.8rem;
  font-weight: bold;
}

.credit .chara {
  margin-bottom: 0.6rem;
}
.credit .chara li {
  margin-bottom: 0.2rem;
}
.credit .chara p:first-child {
  font-size: 0.65rem;
  margin-bottom: -0.4rem;
}
.credit .chara p:last-child {
  font-size: 1.1rem;
}
.credit .chara span {
  font-weight: bold;
}
.credit .skills {
  display: flex;
  justify-content: space-around;
}
.credit .skills .skill-section {
  display: flex;
  gap: 1rem;
}
.credit .skills .skill-section ul {
  text-align: left;
  margin-bottom: 0.1rem;
}
.credit .skills .skill-section .skill-chara {
  font-weight: bold;
}
.credit .skills .skill-section .skill-chara {
  text-align: right;
}
.credit .skills .skill-section .skill-name {
  margin-bottom: 0.2rem;
}

.credit .staff {
  margin-bottom: 0.5rem;
}
.credit .staff li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: justify;
  gap: 0 20px;
  margin-bottom: 2px;
}
.credit .staff li p:first-child {
  text-align: right;
  font-weight: bold;
}

.credit h5 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.credit h5 i {
  display: block;
}

.credit .time {
  margin-bottom: 0.3rem;
}

/* 모달 */
.modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s, backdrop-filter 1.5s;
}
.modal.active {
  backdrop-filter: blur(3px);
  visibility: visible;
  opacity: 1;
}

.modal .origin-image {
  max-width: 95%;
  max-height: 95vh;
  opacity: 0;
  transform: translateY(-20%);
  transition: transform 0.6s 0.1s, opacity 0.5s 0.1s;
}
.modal.active .origin-image {
  opacity: 1;
  transform: translateY(0%);
}

@media (max-width: 1440px) {
  header {
    visibility: hidden;
    top: 0%;
    right: 0;
    transform: translate(0%, 0%);
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.3s;
  }
  header.active {
    visibility: visible;
    opacity: 1;
  }
  header nav {
    width: 30vw;
    height: 100vh;
    background: var(--primary-color);
    box-shadow: -8px 0px 20px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(100%, 0%);
    transition: transform 0.6s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 3rem;
  }
  header.active nav {
    transform: translate(0%, 0%);
  }
  header nav a {
    position: relative;
    width: auto;
    height: auto;
    margin: 0px 0px 2rem 0px;
    border: none;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "NEXON Lv1 Gothic OTF";
    font-weight: 700;
    font-size: 1.5rem;
    color: #ececec;
    border-radius: 0;
  }
  header nav a span.circle {
    display: none;
    position: relative;
    top: 0%;
    left: 0%;
    transform: none;
    opacity: 1;
    transition: 0.3s;
  }

  header nav a span.nav-text {
    position: relative;
    margin-right: 0px;
    top: 0%;
    right: 0%;
    z-index: 0;
    transform: none;
    background: none;
    box-shadow: none;
    color: #ececec;
    padding: 0;
    opacity: 1;
    border-radius: 0px 0 0 0px;
    transition: opacity 0s, transform 0s;
  }
  header nav a span.nav-text::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0%);
    transform-origin: left;
    width: 103%;
    height: 1px;
    background: #ececec;
    transition: transform 0.25s;
  }
  header nav a.active span.nav-text::after {
    transform: translateX(-50%) scaleX(100%);
  }
  header nav a.active span.nav-text {
    transform: none;
    font-style: italic;
  }
  header nav a:hover span.nav-text {
    transform: none;
  }

  .nav-toggle {
    display: block;
    position: fixed;
    top: 4%;
    right: 2%;
    z-index: 9999;
    width: 33px;
    height: 33px;
  }
  .nav-toggle span {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 4px;
    background-color: var(--primary-color);
    transform-origin: center;
    transition: 0.3s;
  }
  .nav-toggle span:first-child {
    top: -10px;
  }
  .nav-toggle span:last-child {
    top: 10px;
  }
  .nav-toggle.active span {
    background-color: #ececec;
    margin: 0;
  }
  .nav-toggle.active span:first-child {
    top: 0px;
    transform: rotate(45deg);
  }
  .nav-toggle.active span:nth-child(2) {
    transform: translateX(100%);
    opacity: 0;
  }
  .nav-toggle.active span:last-child {
    top: 0px;
    transform: rotate(-45deg);
  }
}
@media (max-width: 1070px) {
  header nav {
    width: 35vw;
  }
}

@media (max-width: 950px) {
  header nav {
    width: 40vw;
  }

  .inner {
    margin: 20px 20px;
  }
}
@media (max-width: 900px) {
  .credit {
    width: 100%;
  }
}

@media (max-width: 830px) {
  header nav {
    width: 45vw;
  }

  .inner {
    margin: 20px 20px;
  }
}

@media (max-width: 670px) {
  header nav {
    width: 50vw;
  }
  .handout .handout-button {
    padding: 0.9rem 1.4rem;
  }
}

@media (max-width: 560px) {
  header nav {
    width: 60vw;
  }
  .handout .handout-button {
    padding: 0.8rem 1.3rem;
  }
}

@media (max-width: 510px) {
  body {
    font-family: "SUIT-Regular", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
  }

  header nav {
    width: 100vw;
  }

  .portrait {
    margin-right: 0.8rem;
  }

  .name {
    margin-bottom: 0.15rem;
  }

  .black-label .name {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.15rem 0.25rem 0.15rem;
    border-radius: 3px;
  }
  .line {
    line-height: 1.4;
  }

  .credit h4 .rule_name {
    font-size: 0.7rem;
    margin-bottom: -0.1rem;
  }
  .credit .chara p:first-child {
    font-size: 0.65rem;
    margin-bottom: -0.2rem;
  }
  .credit .skills .skill-section {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
  }
  .credit .skills .skill-section .skill-chara {
    text-align: center;
  }
  .credit .skills .skill-section ul {
    text-align: center;
  }
}
@media (max-width: 475px) {
  .inner {
    max-width: 100%;
    width: 100%;
    padding: 1.8rem;
    margin: 0px;
    backdrop-filter: blur(20px);
    border: 1px solid #ececec;
    border-radius: 0px;
  }

  .round {
    grid-template-columns: 35px auto 35px;
  }
  button {
    padding: 0.7rem 1.2rem;
  }
  .music-container .music {
    width: 100%;
  }
  .music-container .music .music-explain {
    width: 80%;
  }
  .music-container .music .music-explain .music-name {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.1em;
  }
}
@media (max-width: 370px) {
  .inner {
    padding: 1rem;
  }
  div.chapter {
    padding: 0.9rem 0px 1.2rem 1.2rem;
  }
}
@media (max-width: 345px) {
  .music-container .music .music-explain {
    width: 75%;
  }
}
@media (max-width: 290px) {
  html {
    font-size: 15px;
  }
  .inner {
    padding: 0.8rem;
  }
  .music-container .music i {
    font-size: 20px;
  }
  .music-container .music .music-explain {
    width: 72%;
  }
  .portrait {
    margin-right: 0.7rem;
  }
}
